$root-name: "v-button-icon";

.#{$root-name} {
  padding: 8px;

  &__icon {
    font-size: 19px;
  }

  &--view-light {
    border-radius: $BORDER_RADIUS;

    .#{$root-name}__icon {
      color: $BUTTON_ICON_LIGHT_COLOR;
    }

    &:hover {
      background: $BUTTON_ICON_LIGHT_BACKGROUND_HOVER;
    }

    &.#{$root-name}--active {
      background: $BUTTON_ICON_LIGHT_BACKGROUND_ACTIVE;
    }
  }

  &--view-secondary {
    background: $BUTTON_ICON_SECONDARY_BACKGROUND;
    border-radius: $BORDER_RADIUS_CIRCLE;

    .#{$root-name}__icon {
      color: $BUTTON_ICON_SECONDARY_COLOR;
    }

    &:hover {
      background: $BUTTON_ICON_SECONDARY_BACKGROUND_HOVER;
    }

    &.#{$root-name}--active {
      background: $BUTTON_ICON_SECONDARY_BACKGROUND_ACTIVE;
    }
  }
}
