$BACKGROUND: #0c73fe;

$TRANSITION: all 0.25s ease;

$OPACITY: 0.6;
$OPACITY_DEFAULT: 1;

$BORDER_RADIUS: 8px;
$BORDER_RADIUS_CIRCLE: 100%;

// Button-icon-light
$BUTTON_ICON_LIGHT_COLOR: #ffffff;

$BUTTON_ICON_LIGHT_BACKGROUND_HOVER: #1f7efe;
$BUTTON_ICON_LIGHT_BACKGROUND_ACTIVE: #1f7efe;

// Button-icon-secondary
$BUTTON_ICON_SECONDARY_COLOR: #000000;

$BUTTON_ICON_SECONDARY_BACKGROUND: #f0f1f3;
$BUTTON_ICON_SECONDARY_BACKGROUND_HOVER: #e2e4e8;
$BUTTON_ICON_SECONDARY_BACKGROUND_ACTIVE: #e2e4e8;

// Button-icon-text
$BUTTON_ICON_TEXT_LIGHT_COLOR: #ffffff;
$BUTTON_ICON_TEXT_LIGHT_BACKGROUND_HOVER: #1f7efe;
$BUTTON_ICON_TEXT_LIGHT_BACKGROUND_ACTIVE: #1f7efe;

// Button-text-primary
$BUTTON_TEXT_PRIMARY_COLOR: #ffffff;

$BUTTON_TEXT_PRIMARY_BACKGROUND: #0c73fe;
$BUTTON_TEXT_PRIMARY_BACKGROUND_HOVER: #0069d9;

// Button-text-secondary
$BUTTON_TEXT_SECONDARY_COLOR: #000000;

$BUTTON_TEXT_SECONDARY_BACKGROUND: #f0f1f3;
$BUTTON_TEXT_SECONDARY_BACKGROUND_HOVER: #e2e4e8;

// Logo-avatar-text
$LOGO_AVATAR_TEXT_LIGHT_COLOR: #ffffff;

// Img-logo
$IMG_LOGO_COLOR: #ffffff;

// Navbar
$NAVBAR_BACKGROUND: #0c73fe;

// Select-buttons
$SELECT_BUTTONS_BACKGROUND: #ffffff;

$SELECT_BUTTONS_LABEL_COLOR: #0c131d;
$SELECT_BUTTONS_LABEL_COLOR_HOVER: #0c73fe;
$SELECT_BUTTONS_LABEL_COLOR_ACTIVE: #0c73fe;

$SELECT_BUTTONS_ICON_COLOR: #0c73fe;

$SELECT_BUTTONS_ITEM_BACKGROUND_HOVER: #e8f4ff;

// Select-links
$SELECT_LINKS_BACKGROUND: #ffffff;

$SELECT_LINKS_ICON_COLOR: #9ea9b7;
$SELECT_LINKS_ICON_BACKGROUND: #eff1f4;
$SELECT_LINKS_ICON_COLOR_ACTIVE: #0c73fe;
$SELECT_LINKS_ICON_BACKGROUND_ACTIVE: #e2eefa;

$SELECT_LINKS_LABEL_COLOR: #0c131d;
$SELECT_LINKS_LABEL_COLOR_ACTIVE: #0c73fe;

$SELECT_LINKS_LINK_BACKGROUND_HOVER: #f8f8f9;
$SELECT_LINKS_LINK_BACKGROUND_ACTIVE: #f8f8f9;
